@font-face {
  font-family: "Glyphicons Halflings";
  src: url(glyphicons-halflings-regular.woff) format('woff');
}

hr {
  width: 200px;
  border-top: 2px solid #aaa;
  margin-bottom: 3em;
}

.header {
  background: url('../img/head-bg.jpg');
}

.section {
  padding: 2em 0;
}

.headers-wrapper {
  margin: 5em 0;
}

.main-header {
  margin-bottom: 0;
}

.main-header .content {
  box-shadow: 0.5em 0 0 1px rgb(243,173,29), -0.5em 0 0px 1px rgb(243,173,29);
}

.second-header .content {
  box-shadow: 0.5em 0 0 1px #000, -0.5em 0 0px 1px #000;
}

.second-header {
  margin-top: 3px;
}

.form-section-wrapper {
  background-color: rgba(0, 0, 0, 0.5)
}

.form-description-wrapper, .form-wrapper {
  padding: 1em;
}

.form-description-wrapper {
  color: #fff;
}

.form1 {
  margin-top: 2em;
}

.form1 .form-control {
  background-color: #444;
  border: 1px solid #F3AD1D;
  border-radius: 0px;
}

.form1 .btn-default {
  border-radius: 0px;
  background-color: #F3AD1D;
  border: 1px solid #333;
  color: #000;
}

.form1 .btn-default:hover {
  background-color: #F3AD1D;
  border: 1px solid #333;
  color: #000;
}

.examples {
  background: url('../img/examples-bg.png');
}

.examples h1 {
  color: #fff;
}

.how-it-works .content {
  padding-top: 2em;
}

.company-name {
  color: #fbc100;
}

ul.example-content {
  color: #fff;
  font-size: x-large;
  list-style-type: none;
}

.example-content-total {
  margin-top: 0;
  color: #fff;
}

.example-content-total .income {
  color: #f00;
  font-weight: bold;
}

.tariffs {
  background-color: #E68718;
}

.tariffs .first-tariff {
  background-color: #FBC54F;
}

.tariffs .second-tariff {
  background-color: #FDE2A6;
}

.tariffs .third-tariff {
  background-color: #FBC54F;
}

.tariff-wrapper {
  overflow: auto;
}

ul.list-tarrif-options {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-tarrif-options li {
  padding: 0.5em 30px;
  margin: 0 -15px;
}

.list-tarrif-options li:nth-child(2n+1) {
    background-color: rgba(255, 255, 255, 0.2);
}

.tariff-aciton {
  width: 100%;
  margin: 1em 0;
}

.yellow-bg {
  background-color: #F3AD1D;
  color: #000;
}

.black-bg {
  background-color: #000;
  color: #fff;
}
