.header {
  background: url('../img/head-bg.jpg');
  padding: 2em 0;
}

.headers-wrapper {
  margin: 5em 0;
}

.main-header {
  margin-bottom: 0;
}

.main-header .content {
  box-shadow: 0.5em 0 0 1px rgb(243,173,29), -0.5em 0 0px 1px rgb(243,173,29);
}

.second-header .content {
  box-shadow: 0.5em 0 0 1px #000, -0.5em 0 0px 1px #000;
}

.second-header {
  margin-top: 3px;
}

.form-section-wrapper {
  background-color: rgba(0, 0, 0, 0.5)
}

.form-description-wrapper, .form-wrapper {
  padding: 1em;
}

.form-description-wrapper {
  color: #fff;
}

.form1 {
  margin-top: 2em;
}

.form1 .form-control {
  background-color: #444;
  border: 1px solid #F3AD1D;
  border-radius: 0px;
}

.form1 .btn-default {
  border-radius: 0px;
  background-color: #F3AD1D;
  border: 1px solid #333;
  color: #000;
}

.form1 .btn-default:hover {
  background-color: #F3AD1D;
  border: 1px solid #333;
  color: #000;
}

.yellow-bg {
  background-color: #F3AD1D;
  color: #000;
}

.black-bg {
  background-color: #000;
  color: #fff;
}
