.owl-carousel { position: relative; }
.owl-prev, .owl-next { position: absolute; top: 40%; margin-top: -10px; }
.owl-theme .owl-controls .owl-buttons div { font-size: 30px; background: none; }
.owl-theme .owl-controls .owl-buttons .owl-prev { left: 0; color: black; }
.owl-theme .owl-controls .owl-buttons .owl-next { right: 0; color: black; }
